body{
    font-family: Arial, Helvetica, sans-serif;
}

.proba2 {
    background: url(./img/star.jpg) no-repeat center center/cover;
    color: white;
}

.cssh{
    background-color: #d25959;
    border: 2px #e2b83e solid;
    text-align: center;
    color: #e2b83e;
    width: 500px;
    padding: 10px 10px;
    
}
.cssproba {
background: url(./img/sample.png) no-repeat left;
background-attachment: fixed;
background-size: 200px;
border: black 2px solid;
padding: 10px 10px;
width: 500px;     
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #4c6ca0;
    border-radius: 5px;
    overflow: auto;
}
.navbar li {
    float: left;
}
.navbar li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
}
.navbar li a:hover {
    background-color: #446190;
    color: #f4f4f4;
}